{% extends 'tbeystore/base.html' %}
{% load staticfiles %}
{% block content %}
  <div class="shopping_cart col s12 m6">
    <h3>{{ user.username }}'s Shopping Cart:</h3>
    {% if cart %}
    <h4>Items in cart</h4>
      {% for item in cart %}
        {% with product=item.product %}
        <h5>{{ product.name }}</h5>
          <ul>
            <!-- <li>
              <a href="{% url 'tbeystore:cart_detail' %}">
                {{ total_items }} item{{ total_items|pluralize }}, {{ cart.get_total }}
              </a>
            </li> -->
            <li>Item Price: ${{item.price}}</li>
            <li>Product Total: ${{item.total_price}}</li>

            <!-- <img src="{% if product.image %}{{ product.image.url }}{% else %} None {% endif %}" alt=""> -->
            <!-- <li>{{ product.name }}</li> -->
            <li>
              Quantity:
              <form class="update_cart" action="{% url 'tbeystore:cart_add' product.id %}" method="post">
                {% csrf_token %}
                {{ item.update_quantity_form.quantity }}
                {{ item.update_quantity_form.update }}
                <input type="submit" class="btn blue" value="Update Order"/>
              </form>
            </li>


            <a class="btn red" href="{% url 'tbeystore:cart_remove' product.id %}">Remove Item</a>
          </ul>

        {% endwith %}
      {% endfor %}
      <h5>Total: ${{cart.get_total_price}}</h5>
    {% else %}
      <p>Cart is empty</p>
    {% endif %}
    <a class="btn green" href="{% url 'tbeystore:index' %}">Continue Shopping</a>
  </div>
{% endblock %}
