{% extends 'tbeystore/base.html' %}
{% load staticfiles %}
<!-- would typically have a namespace
to the app (subfolder of templates) -->
{% block content %}
  <div class="product_list col s12 m6">
    <h2> Products </h2>
    {% for product in products %}
    <a href="/{{product.id}}">
    <h3>{{product.name}}</h3>
    </a>
    <ul>
      <li>Category: {{product.category}}</li>
      <li>Description: {{product.description}}</li>
      <li>Price: ${{product.price}}</li>
      <li>Vendor: {{product.vendor_id}}</li>
      <!-- <a href="/user/{{product.vendor.vendor_name}}">
      <p>Adobed By: {{ product.user.username }}</p></a> -->
      <li>Item Count: {{product.item_count}}</li>
      <li>Date Added: {{product.date_added}}</li>
    </ul>
    <!-- <h5>Likes:</h5> -->
    <a class="waves-effect waves-light btn like" data-id="{{product.id}}">
      Likes: {% if product.likes > 0 %} {{ product.likes }} {% else %} None {% endif %}
    </a>
    <hr/>
    {% endfor %}

  </div>
  <div class="new_product_form col s12 m6">
    <h2> something here </h2>
    <!-- <form class="" action="post_cat/" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="submit"/>
    </form> -->
    <hr/>
    <h2> Vendors </h2>
    {% for vendor in vendors %}
      <a href="vendor/{{ vendor.id }}">
        <h4>{{ vendor.vendor_name }}</h4>
      </a>
    {% endfor %}
  </div>
{% endblock %}
