{% extends 'tbeystore/base.html' %}
{% load staticfiles %}
<!-- {% load static %} -->

{% block content %}
  <div class="product_list  col s12 m6">
    <a href="/{{product.id}}">
    <h3>{{product.name}}</h3>
    </a>

    <a href="/vendor/{{product.vendor.id}}/">
    <p>Added By: {{ product.vendor }}</p></a>

    <ul>
      <li>Category: {{product.category}}</li>
      <li>Description: {{product.description}}</li>
      <li>Price: ${{product.price}}</li>
      <li>Vendor: {{product.vendor}}</li>
      <li>Item Count: {{product.item_count}}</li>
      <li>Date Added: {{product.date_added}}</li>
    </ul>
      <!-- <h5>Likes:</h5> -->
      <a class="waves-effect waves-light btn like" data-id="{{product.id}}">
        Likes: {% if product.likes > 0 %} {{ product.likes }} {% else %} None {% endif %}
      </a>
    <hr/>
  </div>
  <div class="product_questions col s12 m6">
    <div class="questions">
      <!-- <h3> Product Image </h3> -->
      <!-- <img src="/{{product.image}}" alt=""> -->

      <!-- <h3> Product Questions </h3> -->
      <!-- TODO: add questions to the mix -->
      {% if question %}
        <ul>
          {% for question in latest_question_list %}
            <li>
              <a href="{% url 'tbeystore:question_detail' question.id %}">{{ question.question_text }}</a>
            </li>
            {% endfor %}
        </ul>
      {% else %}
        <p>This section is not completed.</p>
      {% endif %}
    </div>
  </div>
{% endblock %}
